<footer class="main-footer">
    <div class="main-footer-container">
        <img src="assets/Images/logo.png">
        <ul class="nav footer-nav">
            <li (click)="navigateToAboutPage()">
                <i class="fa fa-file"> אודות</i>
            </li>
            <li (click)="makeContact()">
                 <i class="fa fa-envelope"> צור קשר</i>
            </li>
            <li (click)="navigateToGithub()">
                <i class="fa fa-github"> גיטהאב</i>
            </li>
        </ul>
    </div>
</footer>