h2 {
    color: orange;
    text-align: justify;
}

.main-footer {
    direction: ltr;
}

.menu{
    display: flex;
    flex-direction: column;
}

li {
    width: auto;
    color:rgb(255, 255, 255);
    font-weight:bolder;
}

li:hover {
    background-color:rgba(219, 217, 205, 0.228)
}

h2 {
    margin-left: 3%;
}

.footer-nav li {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    margin-right: 6%;
}

.footer-nav img {
    width: 30px;
}

.main-footer {
    background-color: rgb(0, 0, 0);
    background-image: url("/assets/Images/HeaderBackground.png");
    color: white;
}

.main-footer-container {
    display: flex;
    align-items: center;
    height: 110px;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

img {
    margin-left: 2em;
    width:200px;
    height:auto;
}