<h1>אודות</h1>
<article>
  <section>
    <p>
      תות היא אפליקציית אינטרנט המסייעת למשתמשים למצוא ולקרוא מדריכים בתחומי
      טכנולוגיה שונים.
      <br />
      מאגר הקוד של האפליקציה נמצא
      <a href="https://github.com/yehonatan604/TutAppFront" target="_blank">כאן</a>.
    </p>
  </section>
  <section>
    <p>
        על מנת שתוכלו להינות ממגוון שירותי האתר יש צורך בהרשמה ראשונית,
        <br>
        לאחר ההרשמה תוכלו להתחבר עם הפרטים שסיפקתם.
        <br>
        משתמש רשום יוכל לדרג מאמרים, לשנות את המידע האישי, לשלוח הודעות למערכת ועוד.
        <br>
        במידה וברצונכם להפוך את חשבונכם לחשבון יוצר, יש לפנות בהודעה למערכת.
        <br>
        בעלי חשבון יוצר יהנו מהאפשרות לפרסם תכנים באתר, כולל אפשרויות עריכה מלאות למאמרים שלהם.
    </p>
  </section>
  <section>
    <p>
        בכל מקרה של שאלה נוספת יש לפנות
        ל<a href="mailto:yehonatan604@gmail.com">מנהל האתר</a>
    </p>
  </section>
</article>
