.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Open Sans";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.article-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btns {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}